/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header .contact ul, header .contact li {
    margin: 0;
    display: block; }
  header .contact {
    margin-top: 5px; }
  header nav {
    width: 105%; }
    header nav ul li {
      margin-top: 5px;
      margin-left: 20px; }

  footer p {
    margin-left: 15px; }
  footer img {
    margin: 0; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body {
    background-size: inherit; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header {
    margin-top: 10px;
    text-align: center; }
    header .contact ul, header .contact li {
      margin: 0;
      display: block; }
    header .contact {
      margin-top: 5px; }
    header nav {
      margin-top: 10px; }
      header nav ul li {
        margin-top: 5px;
        margin-left: 20px; }
    header:after {
      margin-top: 5px; }

  footer p {
    margin-left: 15px; }
  footer img {
    margin: 0; } }
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* Medium Devices, Desktops */ }
/* Large Devices, Wide Screens */
