body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  background: #fff;
  color: #000;
}

ul, li, p, h1, h2, h3, h4 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

.red {
  color: #ec2e2e;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.right-text {
  position: absolute;
  right: 15px;
  bottom: 3px;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

.btn {
  display: inline-block;
  background: transparent;
  border: 2px solid #fff;
  font-size: 16px;
  padding: 6px 18px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #fff;
  color: #ec2d2d;
}

.display_none {
  display: none;
}

.main_header .top-header {
  background: #cb1717;
  color: #fe9389;
  font-size: 16px;
  padding: 7px 0;
  -webkit-box-shadow: inset 0px -2px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px -2px 15px 0px rgba(0, 0, 0, 0.1);
}

.main_header .top-header nav ul li {
  margin-right: 35px;
}

.main_header .bottom-header {
  padding: 19px;
  background: #ec2d2d;
  color: #fff;
}

.main_header .bottom-header .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.main_header .bottom-header nav {
  font-size: 20px;
}

.main_header .bottom-header nav ul li {
  margin-right: 50px;
}

.main_header nav ul li {
  display: inline-block;
}

.main_header nav ul li:last-child {
  margin-right: 0;
}

.search {
  margin-right: 30px;
}

.logo {
  display: block;
  max-width: 300px;
  position: relative;
  top: 2px;
}

.tel {
  color: #ffb5ae;
  font-size: 18px;
  font-weight: 500;
}

.location a {
  position: relative;
  padding-left: 20px;
  padding-right: 15px;
}

.location a:before {
  content: url(../img/location-marker.png);
  position: absolute;
  left: 0;
}

.location a:after {
  content: '\f107';
  font-family: FontAwesome;
  position: absolute;
  right: 0;
}

.social {
  padding: 20px 0;
}

.social a {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  border: 2px solid  #ecdfd3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #ecdfd3;
  margin-right: 20px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

.social a i {
  line-height: 37px;
  font-size: 20px;
}

.social a:hover {
  color: #fff;
}

.vk:hover {
  border-color: #597da3 !important;
  background: #597da3 !important;
}

.od:hover {
  border-color: #f58220 !important;
  background: #f58220 !important;
}

.mail:hover {
  border-color: #168de2 !important;
  background: #168de2 !important;
}

.price {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 60px;
  bottom: -60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #46b650;
  overflow: hidden;
  color: #fff;
}

.price .new-price-bg {
  width: 700px;
  height: 700px;
  position: absolute;
  bottom: -5px;
  right: -60px;
  background: #52d05d;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.price .new-price, .price .old-price, .price .sale {
  position: relative;
  font-size: 45px;
  top: 40px;
}

.price .old-price {
  font-size: 25px;
  color: #0e7b2f;
  left: -25px;
  display: inline-block;
}

.price .old-price:after {
  content: '';
  height: 3px;
  width: 100%;
  background: #fff;
  position: absolute;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  left: 0;
  bottom: 17px;
}

.price .sale {
  font-size: 27px;
  top: 45px;
  left: 30px;
}

.price .sale-alone {
  font-size: 50px;
  line-height: 200px;
  top: 0;
  left: 0;
}

.price .sale-alone sup {
  top: -.3em;
}

.product {
  padding: 10px 0 60px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f7fafd), to(#fff));
  background-image: -webkit-linear-gradient(bottom, #f7fafd 0%, #fff 100%);
  background-image: linear-gradient(0deg, #f7fafd 0%, #fff 100%);
}

.product .header-product {
  position: relative;
  margin-bottom: 30px;
}

.shadow {
  -webkit-box-shadow: 0 0 6px 0px #d6d4d4;
          box-shadow: 0 0 6px 0px #d6d4d4;
}

figure {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background: #fff;
}

figure .image {
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  overflow: hidden;
  height: 220px;
  position: relative;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

figure .image img {
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

figure .price {
  width: 80px;
  height: 80px;
  right: 20px;
  top: -60px;
}

figure .price .new-price {
  font-size: 24px;
  top: 30%;
  text-align: center;
}

figure figcaption {
  padding: 20px;
  position: relative;
  min-height: 185px;
}

figure small {
  display: block;
}

figure small:before {
  width: 30px;
  display: inline-block;
}

figure small.sheet:before {
  content: url(../img/sheet.svg);
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

figure small.burger:before {
  content: url(../img/burger.png);
  margin-right: 10px;
}

figure small.egg:before {
  content: url(../img/egg.png);
}

figure small span {
  font-size: 16px;
  opacity: .4;
}

figure h3 {
  margin: 15px 0;
  line-height: 1.2;
}

figure .link {
  text-align: center;
  border-top: 1px solid #f7fafd;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  color: #ec2e2e;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

figure .link p {
  line-height: 60px;
}

.time span {
  opacity: .4;
}

.time:before {
  content: url(../img/clock.png);
  display: inline-block;
  position: relative;
  top: 5px;
  margin-right: 5px;
  -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.card {
  display: block;
}

.item:hover img {
  -webkit-transform: scale(1.2) rotate(5deg);
      -ms-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
}

.item:hover .link {
  background: #ec2e2e;
  color: #fff;
}

.item:hover .time:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.circle {
  padding: 100px 0;
}

.circle-wrap {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e9eff3;
}

.circle-wrap p {
  line-height: 100px;
}

.circle-wrap[data-active="true"] {
  background: #ec2e2e;
  color: #fff;
  font-size: 27px;
}

.shops {
  height: 300px;
  background: no-repeat url(../img/map.png) left 40% center #0f8433;
}

.shops .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff;
}

.shops .wrap .two-row {
  position: relative;
  left: 150px;
  top: 10px;
}

.shops .wrap .two-row:before {
  content: url(../img/logo2.png);
  position: absolute;
  left: -140px;
  top: -5px;
}

.shops .wrap .big {
  font-size: 100px;
  line-height: 1;
}

.shops .wrap .small {
  font-size: 24px;
  color: #bdcf01;
  padding-left: 5px;
}

.wrap-descr-card {
  background: #ec2e2e;
  padding: 60px 0;
  color: #fff;
}

.wrap-descr-card .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-descr-card h1 + p {
  margin-bottom: 45px;
}

.wrap-descr-card .btn {
  padding: 17px 50px;
}

.image-card {
  width: 340px;
  height: 200px;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  background: #fafbfc;
  margin: 0 auto;
}

.image-card .logos {
  padding: 20px 25px;
  width: 85%;
}

.image-card .logos .c-red {
  fill: #ec2e2e;
}

.main_footer {
  background: #434d54;
  font-size: 14px;
  color: #fff;
  padding: 60px 0 150px;
}

.main_footer .title {
  font-size: 18px;
  opacity: .4;
  margin-bottom: 15px;
}

.main_footer nav li {
  line-height: 1.1;
}

.main_footer nav li a {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

.main_footer nav li a:hover {
  opacity: .4;
}

.main_footer nav li:last-child {
  margin-bottom: 0;
}

.main_footer .logo {
  width: 130px;
  margin-bottom: 15px;
}

.main_footer .logo .st0 {
  fill: transparent;
}

.main_footer .logo .st1, .main_footer .logo .st2, .main_footer .logo .st3, .main_footer .logo .c-red {
  fill: #fff;
}

.main_footer .logo ~ p {
  margin-bottom: 15px;
}

.main_footer .cont-info {
  opacity: .4;
}

.mfp-move-from-top .mfp-content {
  vertical-align: middle;
  text-align: center;
}

#modal-popup {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  padding: 50px;
  background: #fff;
  width: 540px;
}

#modal-popup h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0;
  text-align: center;
}

#modal-popup input, #modal-popup textarea {
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 20px;
  font-size: 15px;
  border: 1px solid #bfbfbf;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

#modal-popup .btn {
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
}

#modal-popup .help-block {
  margin-bottom: 20px;
  margin-top: -10px;
}

#modal-popup .mfp-close {
  font-size: 40px;
  width: 60px;
  height: 60px;
  color: #999;
}

.slide #slide-companies .owl-wrapper {
  -webkit-transition: all 1000ms ease !important;
  transition: all 1000ms ease !important;
}

.slide #slide-companies .owl-wrapper-outer {
  height: 560px;
}

.slide #slide-companies .item-slide {
  height: 500px;
  position: relative;
}

.slide #slide-companies .item-slide .description {
  text-align: left;
  height: 100%;
  position: relative;
  z-index: 10;
}

.slide #slide-companies .item-slide .description .when, .slide #slide-companies .item-slide .description .weight {
  font-family: 'PT Sans', sans-serif;
}

.slide #slide-companies .item-slide .description h1 {
  line-height: 1.1;
}

.slide #slide-companies .item-slide .wrap-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slide #slide-companies .item-slide .wrap-image .image-price {
  height: 100%;
}

.slide .owl-item {
  text-align: center;
}

.slide .owl-item:nth-child(even) .social a {
  border-color: #bcc5cb;
  color: #fff;
  background: #bcc5cb;
}

.slide .owl-controls {
  margin: 30px auto 0;
  position: relative;
  top: -60px;
  width: 40%;
}

.slide .owl-controls .owl-page span {
  border: 2px solid #e4dacf;
  background: transparent;
  filter: Alpha(Opacity=1);
  opacity: 1;
  width: 14px;
  height: 14px;
}

.slide .owl-controls .owl-page span:hover {
  border-color: #ec2e2e;
}

.slide .owl-controls .owl-page.active span {
  border-color: #ec2e2e;
  background: #ec2e2e;
}

.menu-btn {
  height: 50px;
  width: 50px;
  background: transparent;
  border: none;
  position: relative;
}

.menu-btn > span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.menu-btn > span .top, .menu-btn > span .middle, .menu-btn > span .bottom {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.menu-btn > span .top:before, .menu-btn > span .middle:before, .menu-btn > span .bottom:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 60%;
  display: inline-block;
  background: #fff;
  height: 2px;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.25s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.menu-btn > span .top:before {
  top: 15px;
}

.menu-btn > span .bottom:before {
  top: auto;
  bottom: 13px;
}

.menu-btn.open > span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-btn.open > span .top {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.menu-btn.open > span .top:before {
  -webkit-transform: translate(-14px, 9px);
      -ms-transform: translate(-14px, 9px);
          transform: translate(-14px, 9px);
}

.menu-btn.open > span .middle {
  -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn.open > span .middle:before {
  opacity: 0;
}

.menu-btn.open > span .bottom {
  -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-btn.open > span .bottom:before {
  -webkit-transform: translate(-14px, -11px);
      -ms-transform: translate(-14px, -11px);
          transform: translate(-14px, -11px);
}

/*# sourceMappingURL=main.css.map */
