/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .main_header .top-header nav ul li {
    margin-right: 25px;
  }
  .main_header .top-header nav ul li:last-child {
    margin-right: 0;
  }
  .tel {
    font-size: 17px;
  }
  .main_header .bottom-header {
    padding: 15px 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .slide #slide-companies .item-slide .wrap-image .image-price {
    background-size: 100% !important;
  }
  .slide #slide-companies .item-slide .wrap-image .image-price.image-rsz {
    background-size: initial !important;
  }
  figure figcaption {
    min-height: 230px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .text-center-mob {
    text-align: center;
  }
  .menu-btn {
    display: inline-block !important;
  }
  .menu-btn > span .top:before, .menu-btn > span .middle:before, .menu-btn > span .bottom:before {
    -webkit-border-radius: 20px;
            border-radius: 20px;
  }
  .logo {
    position: static;
  }
  .sign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main_header .bottom-header nav {
    padding: 20px 0 15px;
  }
  .main_header .bottom-header nav > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .main_header .bottom-header nav > ul li {
    margin-right: 15px;
  }
  .main_header .bottom-header nav > ul li:last-child {
    margin-right: 0;
  }
  .slide #slide-companies .item-slide .wrap-image .image-price {
    background-size: 75% !important;
    background-position-y: 80% !important;
  }
  .slide #slide-companies .item-slide .wrap-image .image-price.image-rsz {
    background-position: bottom right !important;
    background-size: 80% !important;
  }
  .slide #slide-companies .owl-controls {
    position: absolute;
    top: auto;
    bottom: 80px;
    left: 15px;
    margin: 0;
    width: auto;
  }
  .slide #slide-companies .owl-controls .owl-page:not(.active) span {
    border-color: #c2ac98;
  }
  .slide #slide-companies .item-slide .description {
    padding: 50px 0;
  }
  .slide #slide-companies .item-slide .description br {
    display: none;
  }
  .slide #slide-companies .item-slide .description h1 {
    font-size: 40px;
    margin: 20px 0;
  }
  .slide #slide-companies .item-slide .wrap-image .price {
    right: 5%;
  }
  .circle .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .circle .row::-webkit-scrollbar {
    width: 0;
  }
  .main_footer {
    padding: 0 0 20px;
  }
  .main_footer .bd-top {
    border-top-style: solid;
  }
  .main_footer .title {
    position: relative;
    margin: 0;
    line-height: 60px;
    margin-right: -15px;
    border-bottom-style: solid;
    border-color: #697176;
    border-bottom-width: 1px;
    border-top-width: 1px;
  }
  .main_footer .title:after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 3px;
  }
  .main_footer .title + ul {
    display: none;
    padding: 5px 0;
  }
  .main_footer .cont-info {
    margin-top: 20px;
  }
  .main_footer .cont-info p {
    margin-bottom: 0;
  }
  .product {
    padding-top: 80px;
  }
  .card {
    display: inline-block;
    margin-bottom: 20px;
  }
  figure {
    max-width: 350px;
    text-align: left;
  }
  figure figcaption {
    min-height: auto;
  }
  .shops {
    background-position-x: -70px;
  }
  .shops .wrap .two-row {
    left: 50px;
  }
  .wrap-descr-card h1 {
    font-size: 40px;
  }
  .wrap-descr-card h1 + p {
    margin-bottom: 15px;
  }
  .wrap-descr-card .btn {
    margin-top: 15px;
    width: 100%;
  }
}

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .main_footer nav ul {
    display: block !important;
  }
}

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1660px) {
  .image-rsz {
    background-position-x: right !important;
  }
}

/*# sourceMappingURL=media.css.map */
