html, body {
    font-family: "BonvenoCF-Light", "RobotoRegular", sans-serif;
    font-size: 16px;
    padding-top: 100px;
    text-transform: uppercase;
    overflow-x: hidden
}
.img, .cont{
    display: none;
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(245, 245, 245, .9);
    padding: 23px 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    height: 100px;
}
.menu_icon {
    float: left;
    font-size: 26px;
    margin-top: 5px;
    margin-left: 20px;
    outline: none;
    border: none;
    background-color: rgba(245, 245, 245, 0);
}
.menu li {
    list-style-type: none;
    float: left;
    margin-right: 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    color: #6e6e6e;
    outline: none;
    text-shadow: 2px 2px 2px rgba(0,0,0,.6);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu a:hover {
    color: #000;
}
.text_centr {
    text-align: center;
    letter-spacing: 2px;
}
.text_centr h1{
    font-size: 3em;
}
.line {
    display: block;
    margin: 20px auto;
    width: 25px;
    height: 1px;
    border-bottom: 1px solid #555;
}
.for_project{
    margin-bottom: 70px;    
}
#home {
    display: block;
    margin-top: 16px;
    margin-right: 50px;
    float: right;
    color: #000;
    outline: none;
}
.img {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background: url("../img/DSC02160.jpg") no-repeat center center fixed;
    background-size: cover;
}